.hide {
    display: none;
}

.myDIV:hover + .hide {
    display: block;
    color: red;
}
.myclass{
	width: 175px;
  height: 100px;
  padding: 50px;
  border: 1px solid red;
  margin : 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  
}
.divdelete {
  width: 100%;
 height:25px;
  
}