<div id="book_atr" class="myDIV" >
<label for="Weight">weight: </label>
<input type="number" id="weight" name="weight" oninput="validity.valid||(value='');" step="0.01" min="0" required ><br><br>
</div>
<div class="hide">
Please provide weigt in killogramms

</div>