
<div id="cd_atr" class="myDIV" >
<label for="size">Size: </label>
<input type="number" id="size" name="size" oninput="validity.valid||(value='');" step="0.01" min="0" required><br><br>
</div>
<div class="hide">
Please provide size in MB
</div>