<div>
<div id="fur_atr" class="myDIV" >
<label for="height">Height: </label>
<input type="number" id="height" name="height" required oninput="validity.valid||(value='');" step="0.01" min="0"><br><br>
<label for="width">Width: </label>
<input type="number" id="width" name="width" required oninput="validity.valid||(value='');" step="0.01" min="0"><br><br>
<label for="length">Length: </label>
<input type="number" id="length" name="length" required oninput="validity.valid||(value='');" step="0.01" min="0"><br><br>

</div>
<div class="hide">
height , width ,length in H*W*L fromat
</div>
</div>
